/* The following line can be included in a src/App.scss */

@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

.text-name {
  font-family: 'Courier Prime', monospace;
}

.section {
  @extend h1;
  @extend .text-primary;
  @extend .border-bottom;
  @extend .border-primary;

  border-bottom-width: 0.05em !important;
}

.bar-l {
  @extend .border-left;

  border-left: 0.1em $black solid !important;
}

* {
  word-break: keep-all;
}
